
= simple_form_for([@key.project, @key], :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f|
  = f.error_notification

  .form-inputs
    = f.input             :name

  .form-actions
    = f.button :submit, :class => "btn-primary"
